@use "../partials/" as *;

@mixin base-button {
  @include flex(center, center);
  @include label-link-button;
  cursor: pointer;
  height: 3.6rem;
  width: 100%;
  border: none;
  border-radius: 2rem;

  @include media-tablet {
    height: 3.8rem;
    width: unset;
    padding: 0 1.6rem;
  }
}

@mixin primary-button($content: false) {
  @include base-button;
  color: $primary-color-light;
  background-color: $primary-color-brand;

  @if $content {
    &::before {
      content: "+";
      margin-right: 0.4rem;
    }
  }

  &:hover {
    background-color: $background-color-dark;
  }
}

@mixin secondary-button {
  @include base-button;
  color: $secondary-color-dark;
  background-color: $background-color-light;
  border: 1px solid $secondary-color-light;

  &:hover {
    color: $primary-color-brand;
    border: 1px solid $primary-color-brand;
  }
}

@mixin delete-button {
  @include base-button;
  color: $primary-color-light;
  background-color: $support-color-red;

  &:hover {
    background-color: $background-color-dark;
  }
}
