// Colors

// Primary colors.
$primary-color-dark: #13182c;
$primary-color-light: #ffffff;
$primary-color-brand: #2e66e5;

// Secondary colors.
$secondary-color-dark: #5c667e;
$secondary-color-light: #bdc5d5;

// Background colors.
$background-color-dark: #232940;
$background-color-light: #f7f8f9;

// Supporting colors.
$support-color-green: #158463;
$support-color-red: #c94515;
