@use "../../styles/partials/" as *;

.hero {
  background: url(https://images.unsplash.com/photo-1544408649-044d25503558?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  //   @include flex(center, center);
  height: 60vh;
  border-bottom: 1px solid #ddd;
  margin-bottom: 5rem;

  @include media-tablet {
    height: 570px;
    min-height: 400px;
  }

  @include media-desktop {
    height: 700px;
    min-height: 400px;
  }

  &__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

    @include media-desktop {
      max-width: 1280px;
      margin: 0 auto;
    }
  }

  &__header {
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
    font-size: 18px;
    width: fit-content;
    margin-left: 20px;

    @include media-tablet {
      margin-left: 73px;
      font-size: 24px;
      margin-top: 4rem;
    }
  }

  &__subheader {
    color: white;
    font-size: 24px;
    width: 20rem;
    line-height: 30px;
    margin-left: 20px;
    height: 8rem;

    @include media-tablet {
      margin-left: 73px;

      font-size: 30px;
      line-height: 50px;
      width: 30rem;
    }

    @include media-desktop {
      margin-left: 73px;

      font-size: 50px;
      line-height: 50px;
      width: 50rem;
    }
    font-weight: 400;
  }

  &__text {
    color: white;
    width: 20rem;
    margin-left: 20px;
    @include media-tablet {
      width: fit-content;
      margin-left: 73px;
      margin-bottom: 3rem;
    }
  }
}
