@use "../../styles/partials/" as *;

.footer {
  @include flex(center, center);
  height: 24rem;
  background-color: $primary-color-dark;
  color: $primary-color-light;
  box-shadow: 0px -2px 4px 0px $border-color;
}
